a {
  text-decoration: none;
  color: unset;
}

body,
h1,
h2,
h3,
h4,
p,
label,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}
.wrapper__start-screen {
  width: 100%;
  padding: 30px 40px 243px 40px;
  background-color: #5B483A;
  box-sizing: border-box;
}

.start-screen {
  background-color: #5B483A;
}

/******* HEADER START*/
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header__title {
  font-size: 32px;
  font-family: Georgia;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 6%;
  color: #F1CDB3;
  margin-bottom: 10px;
}
.header__subtitle {
  margin-bottom: 253px;
  font-size: 13px;
  font-family: Arial;
  font-weight: 400;
  line-height: 14.95px;
  letter-spacing: 10%;
  color: #FFFFFF;
}
.header .nav {
  display: flex;
  grid-column-gap: 35px;
}
.header .nav__link {
  font-size: 15px;
  font-family: Arial;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: #F1CDB3;
}

/******* HEADER END*/
/******* SECTION PUPPY START*/
.puppy {
  position: relative;
}
.puppy__content {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  margin-right: 42px;
}
.puppy__header {
  max-width: 310px;
  margin-bottom: 42px;
  font-size: 44px;
  font-family: Georgia;
  font-weight: 400;
  line-height: 57.2px;
  letter-spacing: 0;
  color: #FFFFFF;
}
.puppy__subheading {
  margin-bottom: 42px;
  font-size: 15px;
  font-family: Arial;
  font-weight: 400px;
  line-height: 24px;
  letter-spacing: 0;
  color: #CDCDCD;
}
.puppy__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 207px;
  height: 52px;
  border-radius: 100px;
  background-color: #F1CDB3;
  font-size: 26px;
}
.puppy__p {
  padding: 15px 45px 15px 45px;
  font-size: 17px;
  font-family: Georgia;
  font-weight: 400;
  line-height: 22.1px;
  letter-spacing: 6%;
  color: #292929;
}
.puppy__img {
  position: absolute;
  max-width: 698px;
  max-height: 728px;
  top: -163px;
  left: calc(50% - 349px + 251px);
  bottom: 0;
}

/******* SECTION PUPPY END*/
/******** SECTION ABOUT START*/
.about {
  display: flex;
  margin-top: 80px;
  justify-content: center;
}
.about__img {
  margin-right: 120px;
}
.about__content {
  max-width: 430px;
}
.about__header {
  max-width: 370px;
  font-size: 35px;
  font-family: Georgia;
  font-weight: 400px;
  line-height: 45.5px;
  letter-spacing: 6%;
  color: #545454;
  margin-bottom: 10px;
}
.about__subheading {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-family: Arial;
  font-weight: 400px;
  line-height: 24px;
  letter-spacing: 0;
  color: #4C4C4C;
}
.about__subheading p {
  margin-bottom: 25px;
}
.about__subheading p:last-child {
  margin-bottom: 0;
}

/******** SECTION ABOUT END*/
/******** SECTION FRIENDS START*/
.friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.friends__content {
  display: flex;
}
.friends__header {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 400px;
  padding-top: 80px;
  margin-bottom: 60px;
  font-size: 35px;
  font-family: Georgia;
  font-weight: 400px;
  line-height: 45.5px;
  letter-spacing: 6%;
  color: #545454;
}
.friends__slider {
  display: flex;
  position: relative;
}
.friends__button-arrowL {
  position: absolute;
  width: 14px;
  height: 6px;
  border: 2px solid blueviolet;
  border-radius: 100%;
  padding: 23px 19px 23px 19px;
  top: 200px;
  left: -105px;
}
.friends__button-arrowR {
  position: absolute;
  width: 14px;
  height: 6px;
  border: 2px solid blueviolet;
  border-radius: 100%;
  padding: 23px 19px 23px 19px;
  top: 200px;
  right: -105px;
}
.friends__cards {
  display: flex;
}
.friends .cards {
  margin-bottom: 60px;
}
.friends .cards__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.friends .cards__title {
  margin: 30px 0 30px 0;
  font-size: 20px;
  font-family: Georgia;
  font-weight: 400px;
  line-height: 22.72px;
  letter-spacing: 6%;
  color: #545454;
}
.friends .cards__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  width: 187px;
  height: 52px;
}
.friends .cards__button p {
  font-size: 17px;
  font-family: Georgia;
  font-weight: 400px;
  line-height: 22.1px;
  letter-spacing: 6%;
  color: #292929;
}
.friends__button {
  margin-bottom: 100px;
  border-radius: 100px;
  padding: 15px 45px 15px 45px;
  background-color: #F1CDB3;
}
.friends__button p {
  font-size: 17px;
  font-family: Georgia;
  font-weight: 400px;
  line-height: 22.1px;
  letter-spacing: 6%;
  color: #292929;
}

/******** SECTION FRIENDS END*/
/******** SECTION HELP START*/
.help {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.help__header {
  margin: 80px 0 60px 0;
  max-width: 308px;
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 35px;
  font-family: Georgia;
  font-weight: 400px;
  line-height: 45.5px;
  letter-spacing: 6%;
  color: #545454;
}
.help .lists {
  display: flex;
  max-width: 1000px;
  flex-wrap: wrap;
  justify-content: center;
  grid-column-gap: 120px;
}
.help .lists__img {
  margin-bottom: 30px;
}
.help .lists__text_margin {
  margin-bottom: 55px;
}

/******** SECTION HELP END*/
/******** SECTION DONATION START*/
.donation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  margin-bottom: 100px;
}
.donation__content {
  display: flex;
  flex-direction: column;
  max-width: 380px;
}
.donation__header {
  display: flex;
  justify-content: start;
  max-width: 270px;
  margin-bottom: 20px;
  font-size: 35px;
  font-family: Georgia;
  font-weight: 400px;
  line-height: 45.5px;
  letter-spacing: 6%;
  color: #545454;
}
.donation__text-bank {
  margin-bottom: 20px;
  font-size: 15px;
  font-family: Georgia;
  font-weight: 400px;
  line-height: 16.5px;
  letter-spacing: 6%;
  color: #545454;
}
.donation__credit-content {
  display: flex;
  align-items: center;
  max-width: 300px;
  padding: 10px 15px;
  background-color: #F1CDB3;
  border-radius: 9px;
  margin-bottom: 20px;
}
.donation__img-credit {
  margin-right: 15px;
}
.donation__number {
  font-size: 20px;
  font-family: Georgia;
  font-weight: 400px;
  line-height: 23px;
  letter-spacing: 6%;
  color: #545454;
}
.donation__text-information {
  display: flex;
  align-items: center;
  font-style: italic;
  font-size: 12px;
  font-family: Arial;
  font-weight: 400px;
  line-height: 18px;
  letter-spacing: 0;
  color: #B2B2B2;
}

/******** SECTION DONATION END*/
/******** FOOTER START*/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}
.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 160px;
}
.footer .contacts {
  display: flex;
  max-width: 270px;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 45px;
}
.footer .contacts__header {
  font-size: 35px;
  font-family: Georgia;
  font-weight: 400px;
  line-height: 45.5px;
  letter-spacing: 6%;
  color: #FFFFFF;
}
.footer .contacts__mail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .contacts__img {
  margin-right: 20px;
}
.footer .contacts__text-mail {
  font-size: 20px;
  font-family: Georgia;
  font-weight: 400px;
  line-height: 23px;
  letter-spacing: 6%;
  color: #F1CDB3;
}
.footer .contacts__phone {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .contacts__img-phone {
  margin-right: 20px;
}
.footer .contacts__text-phone {
  font-size: 20px;
  font-family: Georgia;
  font-weight: 400px;
  line-height: 23px;
  letter-spacing: 6%;
  color: #F1CDB3;
}
.footer__location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 45px;
}
.footer .location {
  display: flex;
  max-width: 278px;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.footer .location__header {
  font-size: 35px;
  font-family: Georgia;
  font-weight: 400px;
  line-height: 45.5px;
  letter-spacing: 6%;
  color: #FFFFFF;
}
.footer .location__boston {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .location__img-boston {
  margin-right: 20px;
}
.footer .location__text-boston {
  font-size: 20px;
  font-family: Georgia;
  font-weight: 400px;
  line-height: 23px;
  letter-spacing: 6%;
  color: #F1CDB3;
}
.footer .location__london {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .location__img-london {
  margin-right: 20px;
}
.footer .location__london-text {
  font-size: 20px;
  font-family: Georgia;
  font-weight: 400px;
  line-height: 23px;
  letter-spacing: 6%;
  color: #F1CDB3;
}

/******** FOOTER END*/

/*# sourceMappingURL=index.css.map */
