@mixin font ($family, $size, $weight:400px, $line, $letter:0, $color) {
  font-size: $size;
  font-family: $family;
  font-weight: $weight;
  line-height: $line;
  letter-spacing: $letter;
  color: $color;
}

