a {
  text-decoration: none;
  color: unset;
}
body,
h1,
h2,
h3,
h4,
p,
label,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
img {
  max-width: 100%;
  display: block;
}